@{
    ViewBag.Title = "Ups! Something went wrong";
}

<h2>Ups!</h2>
<p>
    Looks like something went wrong. Our super tech stuff is already working on this.
    <br />
    Would you fancy some more shopping? Click <strong>@Html.ActionLink("HERE", "Index", "Home")</strong>
</p>