@{
    ViewBag.Title = "Ups! Couldn't find your content";
}

<h2>Ups!</h2>
<p>
    Looks like we couldn't find what you were looking for. 
    <br/>
    Would you fancy some more shopping? Click <strong>@Html.ActionLink("HERE", "Index", "Home")</strong>
</p>