@using Core;
@model ShopCart

<div class="miniDetailShopCart col-xs-12">
    <div class="productLines col-xs-12">
        @foreach (ShopCartEntry entry in Model.Entries)
        {
            <div class="productLine col-xs-12">
                <div class="productPhoto col-xs-6 col-md-1" style="background-color: @entry.Product.BackgroundColor;"></div>
                <div class="productName col-xs-6 col-md-11">
                    <span>@entry.Product.Name</span>
                    <span>x@(entry.Quantity)</span>
                </div>
            </div>
        }
    </div>
    <div class="totalProducts col-xs-12">
        <div class="col-xs-6">
            <span>@Model.Count() products</span>
        </div>
        <div class="col-xs-6 actionButton">
            <button type="button" class="shopCartDetailButton btn btn-primary" onclick="viewDetail(); return false;">View detail</button>
        </div>
    </div>
</div>
