@using Core;

<form id="shippingDetailsForm" name="shippingDetailsForm">
    <label for="Title">Title</label>
    <select name="Title" id="Title">
        <option selected></option>
        <option value="Mrs.">Mrs.</option>
        <option value="Mr.">Mr.</option>
    </select>

    <label for="FirstName">First name</label>
    <input type="text" name="FirstName" id="FirstName" />

    <label for="LastName">Last name</label>
    <input type="text" name="LastName" id="LastName" />

    <label for="AutocompleteAddress">Address</label>
    <input type="text" name="AutocompleteAddress" id="AutocompleteAddress" />

    <label for="HouseNumber">House number</label>
    <input type="text" name="HouseNumber" id="HouseNumber" />

    <label for="Street">Street</label>
    <input type="text" name="Street" id="Street" />

    <label for="ZipCode">Zip</label>
    <input type="text" name="ZipCode" id="ZipCode" />

    <label for="CityName">City</label>
    <input type="text" name="CityName" id="CityName" />

    <label for="ExtraInfo">Extra information</label>
    <input type="text" name="ExtraInfo" id="ExtraInfo" />

    <label for="Email">Email</label>
    <input type="email" name="Email" id="Email" />

    <input id="submitButton" name="submitButton" type="submit" value="Proceed to checkout" />
</form>



<script>
    $(document).ready(function () {
        setupShippingDetailsForm();
    });
</script>