@using Core;

<form id="shippingDetailsForm" name="shippingDetailsForm">
    <div class="row">
        <div class="shippingDetailsFormSection col-xs-12 col-md-2">
            <div class="shippingDetailsFormLabel">
                <label for="Title">Title</label>
            </div>
            <div class="shippingDetailsFormInput">
                <select name="Title" id="Title">
                    <option value="" selected>Your title</option>
                    <option value="Mrs.">Mrs.</option>
                    <option value="Mr.">Mr.</option>
                </select>
            </div>
        </div>

        <div class="shippingDetailsFormSection col-xs-12 col-md-4">
            <div class="shippingDetailsFormLabel">
                <label for="FirstName">First name</label>
            </div>
            <div class="shippingDetailsFormInput">
                <input type="text" name="FirstName" id="FirstName" placeholder="Your first name" />
            </div>
        </div>

        <div class="shippingDetailsFormSection col-xs-12 col-md-6">
            <div class="shippingDetailsFormLabel">
                <label for="LastName">Last name</label>
            </div>
            <div class="shippingDetailsFormInput">
                <input type="text" name="LastName" id="LastName" placeholder="Your last name" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="shippingDetailsFormSection col-xs-12 ">
            <div class="shippingDetailsFormLabel">
                <label for="AutocompleteAddress">Address</label>
            </div>
            <div class="shippingDetailsFormInput">
                <input type="text" name="AutocompleteAddress" id="AutocompleteAddress" placeholder="Start typing your address" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="shippingDetailsFormSection col-xs-12 col-md-9">
            <div class="shippingDetailsFormLabel">
                <label for="Street">Street</label>
            </div>
            <div class="shippingDetailsFormInput">
                <input type="text" name="Street" id="Street" placeholder="Street name" />
            </div>
        </div>

        <div class="shippingDetailsFormSection col-xs-12 col-md-3">
            <div class="shippingDetailsFormLabel">
                <label for="HouseNumber">House number</label>
            </div>
            <div class="shippingDetailsFormInput">
                <input type="text" name="HouseNumber" id="HouseNumber" placeholder="Your house number" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="shippingDetailsFormSection col-xs-6 col-md-4">
            <div class="shippingDetailsFormLabel">
                <label for="ZipCode">Zip</label>
            </div>
            <div class="shippingDetailsFormInput">
                <input type="text" name="ZipCode" id="ZipCode" placeholder="Your zip code" />
            </div>
        </div>

        <div class="shippingDetailsFormSection col-xs-6 col-md-8">
            <div class="shippingDetailsFormLabel">
                <label for="CityName">City</label>
            </div>
            <div class="shippingDetailsFormInput">
                <input type="text" name="CityName" id="CityName" placeholder="City name" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="shippingDetailsFormSection col-xs-12">
            <div class="shippingDetailsFormLabel">
                <label for="ExtraInfo">Extra information</label>
            </div>
            <div class="shippingDetailsFormInput">
                <input type="text" name="ExtraInfo" id="ExtraInfo" placeholder="Extra info about the address. ie: floor, office... " />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="shippingDetailsFormSection col-xs-12">
            <div class="shippingDetailsFormLabel">
                <label for="Email">Email</label>
            </div>
            <div class="shippingDetailsFormInput">
                <input type="email" name="Email" id="Email" placeholder="email@email.com" />
            </div>
        </div>
    </div>

    <div class="row pull-right">
        <button type="submit" id="submitButton" name="submitButton" class="shopCartDetailButton btn btn-primary">Proceed to checkout</button>
    </div>
</form>



<script>
    $(document).ready(function () {
        setupShippingDetailsForm();
    });
</script>