<div class="greeting">
    <div>
        <span>
            Thank you for your purchase ! Hope to see you again soon :)
        </span>
    </div>
    <div>
        <span>You can return to the shop by clicking on the logo above or <strong>@Html.ActionLink("HERE", "Index", "Home")</strong></span>
    </div>
</div>
