<div class="row">
    <div class="col-xs-1"></div>
    <div id="mainContent" class="col-xs-10 mainContent">@{Html.RenderAction("GetProducts", "Product");}</div>
    <div class="col-xs-1"></div>
</div>
