@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-regular.woff');
}

body {
    font-family: 'Roboto';
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.clickable {
    cursor: pointer;
}

.mainContent {
    height: 90%;
    margin-top: 20px;
}

.products {
    width: 100%;
    height: 450px;
    display: inline-block;
    position: relative;
    overflow-y: auto;
}

.product {
    width: 150px;
    height: 200px;
    border: 1px solid #f8f8f8;
    text-align: center;
    margin: 10px;
    position: relative;
    display: inline-block;
    float: left;
}

.productContent {
    width: 100%;
    text-align: center;
    padding: 6px;
    position: relative;
    display: inline-block;
}

.productPhoto {
    width: 60px;
    height: 60px;
    position: relative;
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #f0f0f0;
}

.productName {
    color: #888;
    font-size: 2em;
}

.productPriceIncVAT {
    color: #888;
    font-size: 1.5em;
}

.addItemButton {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 6px;
    text-align: center;
    background-color: #888;
}

    .addItemButton span {
        color: #fff;
        font-size: 1.25em;
        text-transform: uppercase;
    }

.pagination {
    width: 100%;
    display: inline-block;
    position: relative;
}
