@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto-regular.woff');
}

.logo {
    padding-top: 10px;
}

body {
    font-family: 'Roboto';
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.clickable {
    cursor: pointer;
}

.mainContent {
    margin-top: 20px;
}

.products {
    width: 100%;
    padding: 20px;
    display: inline-block;
    position: relative;
    overflow-y: auto;
}

.product {
    width: 180px;
    height: 200px;
    text-align: center;
    margin: 18px 20px;
    position: relative;
    display: inline-block;
    float: left;
    border: 1px solid #888;
    padding: 10px;
}

.productContent {
    width: 100%;
    text-align: center;
    padding: 6px;
    position: relative;
    display: inline-block;
}

.productPhoto {
    width: 80px;
    height: 80px;
    position: relative;
    display: inline-block;
    border-radius: 40px;
    border: 1px solid #444;
}

.productName {
    width: auto;
}

    .productName span {
        color: #888;
        font-size: 1.5em;
    }

.productPriceIncVAT {
    bottom: 5px;
    position: absolute;
    right: 30px;
    text-align: right;
    width: 100%;
}

    .productPriceIncVAT span {
        color: #888;
        font-size: 1.3em;
    }



.addItemButton {
    width: auto;
    position: absolute;
    bottom: -24px;
    right: -24px;
    background-color: #fff;
    border-left: 1px solid #888;
    border-top: 1px solid #888;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    padding: 8px 0 0 3px;
}





.pagination {
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}



.productInfo {
    display: inline-block;
    position: relative;
}

    .productInfo .productPriceIncVAT {
        position: relative;
        display: inline-block;
        text-align: right;
        margin-top: 20px;
    }

.cartTab {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

    .cartTab .totalProducts {
        position: absolute;
        display: inline-block;
        left: 0;
        top: -5px;
        font-size: 1.5em;
    }


.miniDetailShopCart, .detailShopCart {
    width: 100%;
    position: relative;
    display: inline-block;
}

    .miniDetailShopCart .actionButton, .detailShopCart .actionButton {
        text-align: right;
    }

    .miniDetailShopCart .productLines {
        max-height: 450px;
        overflow-y: auto;
    }


    .miniDetailShopCart .productLine, .detailShopCart .productLine {
        position: relative;
        display: inline-block;
        margin-bottom: 10px;
    }

        .miniDetailShopCart .productLine .productPhoto, .detailShopCart .productLine .productPhoto {
            position: relative;
            display: inline-block;
        }

        .miniDetailShopCart .productLine .productName, .detailShopCart .productLine .productName {
            position: relative;
            display: inline-block;
        }

            .miniDetailShopCart .productLine .productName span, .detailShopCart .productLine .productName span {
                display: block;
            }

    .miniDetailShopCart .totalProducts, .detailShopCart .totalProducts {
        border-top: 1px solid #000;
        margin-top: 20px;
        padding-top: 20px;
    }

        .miniDetailShopCart .totalProducts span, .detailShopCart .totalProducts span {
            font-size: 1.25em;
            color: #000;
            font-weight: bold;
        }

span.subtotal {
    color: #444;
}


.shippingDetailsFormSection {
    border: 1px solid #888;
    float: left;
    padding: 10px;
    height: 70px;
}

    .shippingDetailsFormSection .shippingDetailsFormInput input, .shippingDetailsFormSection .shippingDetailsFormInput select {
        border: 0 none;
        width: 100%;
    }

    .shippingDetailsFormSection .shippingDetailsFormLabel label {
        color: #bbb;
        font-size: 1.25em;
    }
